<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <h1> Sign in</h1>
    <%= simple_form_for @user, url: signin_url do |f| %>
      <%= f.input :email %>
      <%= f.input :password, as: :password %>
      <%= f.button :submit, 'Login' %>
    <% end %>
  </div>
</div>
